@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1614328278793'); /* IE9 */
  src: url('iconfont.eot?t=1614328278793#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABmQAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQQBNgIkAwgLBgAEIAWEbQcvG6kFyK6wKcO9SCCZRlFcvK7NXvMHHHJCPDzc7+vcV5NBEemt0TQ81DjeGw26vLwNshjJLfB/3K891EMZZmcRUWtfti92txtqlWSeNROaWoLQRCv0gonXsaYYKvrSFZ8b9hujwyqQT9w7/RPog8wHlONeNNakSV1AXRxIAe6FUWSlkjeMXeASHhOo1CGLz0pFXRsEy1irAnGoSBwE5yIyGcuXC0XNwUw8glx5cuv7AXgYfj/+w0wEk8hTVtPGQbkIRb8G7CK/if8J2PcJiBLQ8RwpxoCM2KnNrPETjPNTmfHXA/ZVH/zyv+S7xV4dgv11Vm01aIPKe1K56lvNJ3BbE3UBk6N+GdE1HOr/+b5tecOnL527T/kdPbjxkflnnr+offmc+F1UM9iTuLNKU/X72wWPh4oa5oLXoOKiprw/d0TTbur9gYfvPgpfO9kCQOnQb9ivCHwQvPT+7Ki832Ay8LPbz2GodOivnw+U79Ub/B1Vz75M11iuJFNVtcOJrrO2VKpECXCg0ctYa8utFEK5lhG+Mu0pUuX6yIwdQ67KHArl5lFpVOXxKk0oP5FVYMQsQKh3iESt90jVuyAz9hm5Vq8o1IcfKu1F3IVVBkIJLaWYY1hE/CBSBMskjoeFRvUtWOrVOZrVhHwHpl4ljpw2RzFfiU1M59ji7ZNcjBFEqGWgCvAc1nULuamlYoHZZMbcOXY7qXuTTbAMCLWMwjgMJkJ4gxCFwGIi/mgmtPT5Fpikl45DW3pqih0wykuZHnGycfQgK41mr557ecWrj8SFYQiEoCwGpALMw3Q6C+Kun6fCBIyNPCLllsNuDyJ9jbb1zcbXHYNKli0Je0YqP1dM0gsAAAAA') format('woff2'),
  url('iconfont.woff?t=1614328278793') format('woff'),
  url('iconfont.ttf?t=1614328278793') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1614328278793#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinfu:before {
  content: "\e626";
}

